
.nav{
    @apply w-full z-20;

    .mob-menu-i{
        @apply py-1 my-1 tracking-wider font-raleway font-medium;
    }
    .desk-menu-i{
        @apply px-4 py-3 h-fit  tracking-wider font-raleway font-medium bg-white
        shadow-md shadow-blue-200 rounded-full mr-3 last:mr-0;
    }

    .mob-menu-i-special{
        @apply py-1 my-1 tracking-wider font-raleway font-medium text-main;
        &:hover{
            @apply brightness-150;
        }
    }
    .desk-menu-i-special{
        @apply px-4 py-3 h-fit tracking-wider font-raleway font-medium text-main
        bg-white shadow-md shadow-blue-200 rounded-full mr-3 last:mr-12;
        &:hover{
            @apply brightness-105;
        }
    }

    .mobile-menu{
        @apply absolute flex flex-col justify-center w-full bg-white h-auto;

        .social-icon{
            &:hover{
                @apply brightness-125;
            }
            &:active{
                @apply brightness-95;
            }
        }
    }
}

.item-enter {
    opacity: 0;
}
.item-enter-active {
    opacity: 1;
    transition: opacity 110ms ease-in;
}
.item-exit {
    opacity: 1;
}
.item-exit-active {
    opacity: 0;
    transition: opacity 110ms ease-in;
}