@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;700&family=Roboto+Mono:wght@400;500;700&family=Roboto:wght@400;500;700&family=Rubik:wght@400;500;600;700&display=swap');

body {
  @apply font-raleway bg-page-white text-textMain;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

hr{
  @apply border-secondary border-solid w-[80%] mx-auto;
}

a{
  @apply no-underline;
  transition: all 90ms ease-in;
}

a:hover{
  @apply text-secondary;
}

a:visited{
  appearance: none;
  -webkit-appearance: none;
}

button.main{
  @apply bg-main px-4 py-4 text-white rounded-md font-bold text-center;
  transition: all 90ms ease-in-out;
}

button.main:hover{
  @apply brightness-110;
}

button.main:active{
  @apply opacity-90;
}

button.main:disabled{
  @apply opacity-50;
}